{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://slack.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"members\":[{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"}],\"activity\":{\"type\":\"message\",\"from\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"recipient\":{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"},\"text\":\"TEST Create Conversation\"}}",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"activityId\": \"1514572227.000253\",\r\n  \"id\": \"B21S8SG7J:T03CWQ0QB:D8K7XGZU3\"\r\n}"
    }
  } ],
  "variables" : [ ]
}