{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://slack.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"members\":[{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"}]}",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"id\": \"B21S8SG7J:T03CWQ0QB:D8K7XGZU3\"\r\n}"
    }
  }, {
    "Method" : "GET",
    "Uri" : "https://slack.botframework.com/v3/conversations/B21S8SG7J:T03CWQ0QB:D8K7XGZU3/members",
    "Body" : "",
    "Headers" : {
      "Content-Type" : "application/json; charset=utf-8"
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "[\r\n  {\r\n    \"id\": \"B21S8SG7J:T03CWQ0QB\",\r\n    \"name\": \"manxbot\"\r\n  },\r\n  {\r\n    \"id\": \"U3Z9ZUDK5:T03CWQ0QB\",\r\n    \"name\": \"enz\"\r\n  }\r\n]"
    }
  } ],
  "variables" : [ ]
}