{
  "networkCallRecords": [
    {
      "Uri": "https://slack.botframework.com/v3/conversations",
      "Method": "POST",
      "Body": "{\r\n  \"bot\": {\r\n    \"id\": \"B21UTEF8S:T03CWQ0QB\"\r\n  },\r\n  \"members\": [\r\n    {\r\n      \"id\": \"U19KH8EHJ:T03CWQ0QB\"\r\n    }\r\n  ]\r\n}",
      "Headers" : {
      },
      "Response":{
        "retry-after" : "0",
        "StatusCode" : "200",
        "content-type" : "application/json; charset=utf-8",
        "Body" : "{\r\n  \"id\": \"B21UTEF8S:T03CWQ0QB:DD6UM0YHW\"\r\n}"
      }
    },
    {
      "Uri": "https://slack.botframework.com/v3/conversations/B21UTEF8S%3AT03CWQ0QB%3ADD6UM0YHW/pagedmembers",
      "Method": "GET",
      "Body": "",
      "Headers" : {
      },
      "Response":{
        "retry-after" : "0",
        "StatusCode" : "200",
        "content-type" : "application/json; charset=utf-8",
        "Body" : "{\r\n  \"members\": [\r\n    {\r\n      \"id\": \"B21UTEF8S:T03CWQ0QB\",\r\n      \"name\": \"botframeworktest\"\r\n    },\r\n    {\r\n      \"id\": \"U3Z9ZUDK5:T03CWQ0QB\",\r\n      \"name\": \"juan.ar\"\r\n    }\r\n  ]\r\n}"
      }
    }
  ],
  "variables" : [ ]
}