{
  "networkCallRecords" : [ {
    "Method" : "POST",
    "Uri" : "https://slack.botframework.com/v3/conversations",
    "Body" : "{\"bot\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"members\":[{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"}]}",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"id\": \"B21S8SG7J:T03CWQ0QB:D8K7XGZU3\"\r\n}"
    }
  }, {
    "Method" : "POST",
    "Uri" : "https://slack.botframework.com/v3/conversations/B21S8SG7J:T03CWQ0QB:D8K7XGZU3/activities",
    "Body" : "{\"type\":\"message\",\"from\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"recipient\":{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"},\"text\":\"TEST Send to Conversation\"}",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "200",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"id\": \"1514572198.000237\"\r\n}"
    }
  }, {
    "Method" : "PUT",
    "Uri" : "https://slack.botframework.com/v3/conversations/B21S8SG7K:T03CWQ0QB/activities/1514572198.000237",
    "Body" : "{\"type\":\"message\",\"id\":\"1514572198.000237\",\"from\":{\"id\":\"B21S8SG7J:T03CWQ0QB\"},\"recipient\":{\"id\":\"U3Z9ZUDK5:T03CWQ0QB\"},\"text\":\"TEST Update Activity\"}",
    "Headers" : {
    },
    "Response" : {
      "retry-after" : "0",
      "StatusCode" : "400",
      "content-type" : "application/json; charset=utf-8",
      "Body" : "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n    \"message\": \"Invalid ConversationId: B21S8SG7K:T03CWQ0QB\"\r\n  }\r\n}"
    }
  } ],
  "variables" : [ ]
}